<!DOCTYPE html>
<html>
    
    <head>
        <title>Home</title>
        <%=stylesheet_link_tag "application" %>
        <%=javascript_include_tag "application" %>
        <%=csrf_meta_tags %>
        <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/prototype/1.6.1/prototype.js"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/scriptaculous/1.8.3/scriptaculous.js?load=effects,slider"></script>
    </head>
    
    <body>
          <!--- Content -->
         <div class="container">
	        <!--- NAVIGATION BAR enable for users only-->
	        <% if current_user %>
	            <div class="navbar">
	                <div class="navbar-inner">
	                    <div class="container">
	                        <ul class="nav">
	                            <li>
	                                <a href="/">Home</a>
	                            </li>
	                            <li>
	                                <a href="/about">About</a>
	                            </li>
	                        </ul>
	                        <ul class="nav pull-right">
	                            <li class="dropdown">
	                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
									<%= current_user.username %><b class="caret"></b></a>
	                                <ul class=" nav-stacked dropdown-menu">
										<li class="user">
											<a href="/users/<%= current_user.id %>"><div class="content"><div> <%= image_tag avatar_url(current_user,32), :class => 'avatar' %> <b><%= current_user.username.capitalize %></b> <small style="font-size:10px;">View Profile</small></div></div></a>
										</li>
										<li><%= link_to "Plan panel", plans_path %></li>
	                                    <hr/>
	                                    <li>
	                                        <%=link_to "Log out", logout_path %>
	                                    </li>
	                                </ul>
	                        </ul>
	                    </div>
	                </div>
	            </div>
	            <% end %>
             <% if !flash[:notice].blank? %>
                 <div class="row">
                     <div class="notice">
                         <div class="span4">
                             <div class="alert">
								<button type="button" class="close" data-dismiss="alert">×</button>
                                 <%=flash[:notice] %>
                             </div>
                         </div>
                     </div>
                 </div>
                 <% end %>
				<div id="main">
					<%= yield %>
				</div>
         </div>
    </body>

</html>